.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 21px;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  letter-spacing: 0%;
  margin: 32px 0;
}
