.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 24px
}

.footer__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000;
}

.footer__copyright {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000;
}
