.modal__content_type_confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.modal__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: 0 auto;
}

.modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.modal__confirm-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ff4d00;
}

.modal__confirm-button:hover {
  color: #e97c4de4;
}

.modal__cancel-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__cancel-button:hover {
  color: #463a3a99;
}
