.card {
  position: relative;
  width: 325px;
  overflow: hidden;
  border-radius: 8px;
}

.cards {
  padding-bottom: 171px;
}

.card__name {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid #0000004d;
}
