.card {
  position: relative;
  width: 325px;
  overflow: hidden;
  border-radius: 8px;
}

.cards {
  padding-bottom: 171px;
}

.card__name {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid #0000004d;
}

.card__like-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  font-size: 20px;
  color: #b6bcbf;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 2;
}

.card__like-button:hover {
  color: #000000;
}

.card__like-button_liked {
  color: #ff0000;
}

.card__like-button_liked:hover {
  color: #ff0000;
}
