.modal__footer {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 24px 32px;
  margin-top: 0;
  border-radius: 0 0 16px 16px;
  width: 100%;
  box-sizing: border-box;
}

.modal__content_type_image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content_type_image {
  padding: 0;
}

.modal__caption {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 8px 0 0 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 498px;
  border-radius: 12px;
}

.modal__delete-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ff4d00;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 51px;
  position: absolute;
  top: 22px;
  right: -27px;
}
