.clothes-section {
  padding-bottom: 80px;
}

.clothes__header {
  display: flex;
  gap: 20px;
}

.clothes__addbutton {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: bold;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer;
  border: none;
  color: #00000099;
}

.clothes__addbutton:hover {
  color: #000000;
}

.clothes__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: bold;
  line-height: 100%;
  letter-spacing: 0;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 21px;
}

.clothes-section__no-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.clothes-section__no-items-text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
  text-align: center;
  margin: 0;
}
